* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Poppins";
    }
    body {
    background-color: #151524;
}
.container {
display: flex;
width: 28rem;
min-height: 30rem;
flex-direction: column;
align-items: center;
border-radius: 12px;
background-color: rgb(132, 233, 132);
margin: 5rem auto;
}
.userInput {
width: 95%;
}
.userInput h1 {
text-align: center;
font-size: 2.4rem;
margin-top: 0.6rem;
margin-bottom: 1.2rem;
}
.userInput form {
display: flex;
margin-bottom: 0.6rem;
}
.userInput form input {
height: 2rem;
width: 75%;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}
.userInput form button {
width: 25%;
padding: 4px 12px;
margin-left: -0.2rem;
font-size: 0.8rem;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
background-color: #044949;
color: black;
}
.detail {
display: flex;
width: 95%;
height: 2rem;
margin-top: 0.4rem;
justify-content: space-between;
}
.btn {
display: flex;
gap: 0.5rem;
justify-content: space-evenly;
}
.btn p {
font-size: 0.8rem;
}
.btn button {
padding: 8px;
font-size: 0.8rem;
color: white;
border-radius: 6px;
background-color: black;
}
.list {
margin-top: 0.6rem;
width: 100%;
}
.list ul {
display: flex;
flex-direction: column;
align-items: center;
}
.task {
display: flex;
width: 95%;
padding: 4px 8px;
margin-bottom: 0.6rem;
justify-content: space-between;
border: 1px solid black;
}
.task input {
display: none;
}
.task label {
display: flex;
align-items: center;
gap: 0.5rem;
}
#tick-mark {
position: relative;
display: inline-block;
}
input[type="checkbox"]+label span {
display: inline-block;
border: 2px solid black;
width: 1.2rem !important;
height: 1.2rem !important;
}
input[type="checkbox"]:checked+label span {
position: relative;
}
input[type="checkbox"]:checked+label span::after {
position: absolute;
transform: rotate(-45deg);
content: "";
width: 90%;
height: 2px;
bottom: 40%;
background: rgb(5, 1, 1);
left: 20%;
}
input[type="checkbox"]:checked+label span::before {
transform: rotate(-45deg);
position: absolute;
content: "";
width: 2px;
height: 50%;
background: rgb(5, 1, 1);
bottom: 12%;
left: 3px;
}
.cross-btn {
position: relative;
}
.cross-btn:after {
position: absolute;
content: "";
background-color: black;
width: 1.6rem;
right: 0.05rem;
height: 0.2rem;
top: 0.6rem;
transform: rotate(135deg);
}
.cross-btn::before {
position: absolute;
content: " ";
background-color: black;
width: 1.6rem;
right: 0.05rem;
top: 0.6rem;
height: 0.2rem;
transform: rotate(45deg);
}